{% if authUrl %}
        <a href="{{ authUrl }}" class="btn-custom-project-2 icon-google-modal"></a>
{% endif %}

{% if loginurl %}
        <a href="{{ loginurl }}" class="btn-custom-project facebook-white"></a>
{% endif %}