<div class="modal-body">
   <span class="text fw-500">{{ msg_empty_wishlist }}</span>
   <span class="text fw-500"><a href="{{ home }}" class="color-purple">{{ msg_link_continue_wishlist }}</a></span>
</div>
